[package]
name = "cloudflare-e2e-test"
version = "0.5.0"
edition = "2018"
description = "End-to-end tests of the Cloudflare Rust API client"

[[bin]]
name = "cloudflare-e2e-test"
path = "src/main.rs"

[dependencies]
chrono = { version = "0.4", features = ["serde"] }
clap = "2.33"
cloudflare = {path = "../cloudflare"}
failure = "0.1.5"
tokio = { version = "0.2", features = ["macros"] }
